p {
	margin-top: 50px;
	text-align: center;
}

hr {
  margin-top: 50px; 
  border-top: 3px dashed #D5EAD8;
}

.top {
    margin: 30px 0; 
    text-align: center;
}

.top a {
    width: 150px;
    text-align: center;
    background-color: #FFF;
    display: inline-block;
    text-decoration: none;
    color: #b0d455;
    transition: .4s;
    font-weight: bold;
}