@charset "UTF-8";

.textarea {
	margin:50px auto 0;
}
.t_box {
	width: 400px;
	height: 2em;
	border-radius: 6px;
	border: 1px solid;
}

.textarea input[type="submit"]{
	width: 80px;
	height: 2em;
	font-size: 1em;
	background-color: #FFF;
	text-decoration: none;
	color: #b0d455;
	padding-bottom: 0.2em;
	border: solid 1px #b0d455;
	border-radius: 3px;
	transition: .4s;
	font-weight: bold;
}

.textarea input[type="submit"]:hover {
  background: #b0d455;
  color: white;
}

.cp_ipselect {
	overflow: hidden;
	width: 140px;
	height: 2em;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

.container {
  margin: 80px auto 0;
  display: inline-flex;
  align-content: space-around;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}

.item {
	display: inline;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0;
	/*width: 33.33333333%;*/
	text-align:center;
	margin: 0 0 100px 0;
}

.detail_img {
	width: 300px;
	height: 300px;
}

.detail_img img{
	object-fit: cover;
}

.key {
	width: 300px;
	height: 60px;
    margin-top: 7px;
    padding-top: 20px;
    border-top: 1px solid #54E879;
    border-bottom: 1px dashed #54E879;
    font-size: 15px;
    letter-spacing: -1px;
    color: #310D00;
}

.price span {
	margin-right: 7px;
    padding: 0 10px;
    background: #54E879;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    -webkit-border-radius: 15px;
}

.name {
	font-size: 25px;
}

.name a {
	text-decoration: none;
}

.name a:link {
	color: #310D00;
}

.name a:visited {
	color: #310D00;
}

.name a:hover {
	color: #9F6434;
}

.name a:active {
	color: #9F6434;
}